# Dependencies
node_modules/

# Electron build output
build/
dist/
dist-package/
out/
temp-context.json
diff.txt

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
.env.local

# OS generated
.DS_Store
Thumbs.db
